/* место для вашего кода */
body {
    font-size: 20px;
}
header {
font-size: 18px;

}
h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.upHeader {
    padding: 95px 51px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
a {
    text-decoration: none;
}
li {
 list-style-type: circle;
 text-decoration:underline;
}
li:first-child {
    list-style: none;
    text-decoration: none;
}
.list_menu {
    width: 390px;
    display: flex;
    justify-content:space-between;
}
.logo {
    width: 129px;
}
.adress {
    width: 200px;
}

.buttHeader {
    background: url(../images/cover.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    width: 1100px;
    height: 757px;
    color: #fff;
}
.nameSite {
    
    font-size: 100px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
}
.nameSite_center {
    text-align: center;
}
.nameSite_right {
    text-align: right;
}
.butBut {
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 55px;
    word-spacing: 1.1em;
}
.butBut button {
    background: none;
    border: #fff solid 1px;
    padding: 10px;
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
}

.lots {
    margin-top: 190px;
}
.lots_item {
    display: flex;
    justify-content: space-between;
}
.lots_item div {
    width: 334px;
    height: 563px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color:#4b30307d;
    background-blend-mode: darken;
    padding: 40px;
    
}

.first_item {
    background: url(../images/card-lot-01.jpg);
    

}
.second_item {
    background: url(../images/card-lot-02.jpg);

}
.third_item {
    background: url(../images/card-lot-03.jpg);
}
.lots_item h3 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    color: #fff;
}
.lots_item p {
    color: #fff;
}
.more p {
    text-decoration: underline;
    margin: 20px;
}
.about {
    display: flex;
    justify-content: space-between;
    align-items:start;
    margin-top: 180px;
}
.about .logo  {
    background: #000;
    width: 240px;
    height: 240px;
    border-radius: 120px;
}
.about .logo img {
    width:150px;
    margin: 60px 45px ;
}
.about_text h2 {
    margin: 105px 0;
}
.about_text p  {
    margin: 28px 0;
}
.about_text {
    width: 693px;
}
.footer {
    display: flex;
    justify-content: space-between;
    margin: 190px 0 90px;
}
.footer nav {
    text-align: center;
}
.footer li {
    
list-style: none;
}
.footer img {
    width: 48px;
}
.soccio ul {
    display: flex;
    justify-content: space-between; 
    flex-direction: row;
   width: 240px;
}
