/* место для вашего кода */
body {
    font-size: 20px;
}

header {
    font-size: 18px;

}

h2 {
    font-size: 39px;
    text-transform: uppercase;
    font-weight: 900;
}

.upHeader {
    padding: 95px 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

.listMenu {
    width: 390px;
    display: flex;
    justify-content: space-between;
}

nav li {
    list-style-type: circle;
    text-decoration: none;
}

nav li:first-child{
    list-style-type: none;
}

nav li a{
    text-decoration: underline;
}

nav li a.linkActive{
    text-decoration: none;
}

.logo {
    width: 135px;
    margin-left: -150px;
    margin-top: -3px;
}

address {
    width: 205px;
    margin-right: 33px;
    line-height: 1.3;
}

address{
    font-style: normal;
}

address a {
    text-decoration: underline;
}

.buttHeader {
    background: url(../images/cover.jpg);
    background-color: #4b30307d;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1100px;
    height: 757px;
    color: #fff;
    text-transform: uppercase;
}

.nameSite {
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 40px;
    line-height: 120px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
}

.nameSite span:first-child {
    margin-top: 60px;
}

.nameSiteCenter {
    text-align: center;
}

.nameSiteRight {
    text-align: right;
    margin-right: -40px;
    margin-top: -10px;
}

.butBut {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 55px;
    word-spacing: 18px;
}

.butBut p {
    width: 690px;
    margin-left: 65px;
}

.butBut button {
    background: none;
    border: #fff solid 1px;
    padding: 10px;
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    width: 255px;
    margin-right: 35px;
}

.lots {
    margin-top: 180px;
}

.lots h2 {
    margin-left: 64px;
    margin-top: -2px;
    letter-spacing: 1px;
}

.lotsItem {
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-top: 25px;
    width: 1050px;
}

.lotsItem article {
    width: 333px;
    height: 563px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #4b30307d;
    ;
    background-blend-mode: darken;
    padding: 40px;
    padding-top: 55px;
    padding-bottom: 48px;
}

.aboutFilm {
    background: url(../images/card-lot-01.jpg);
}

.aboutBook {
    background: url(../images/card-lot-02.jpg);
}

.aboutImg {
    background: url(../images/card-lot-03.jpg);
}

.lotsItem h3 {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    color: #fff;
    letter-spacing: 1px;
    line-height: 125%;
}

.lotsItem p {
    color: #fff;
}

.more p {
    text-decoration: underline;
    margin-left: 64px;
    margin-top: 33px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 180px;
    padding-right: 23px;
}

.about .logo {
    background: #000;
    width: 240px;
    height: 240px;
    border-radius: 120px;
    margin-left: 70px;
    margin-top: 3px;
}

.about .logo img {
    width: 150px;
    margin: 60px 45px;
}

.aboutText h2 {
    margin-top: 105px;
    margin-bottom: 100px;
    letter-spacing: 1px;
}

.aboutText p {
    margin: 23px 0;
    letter-spacing: .003em;
}

.aboutText p .minSpace {
    letter-spacing: .001em;
}

.aboutText {
    width: 693px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 157px 50px 90px;
}

.footer address {
    letter-spacing: -1px;
    line-height: 125%;
}

.footer nav {
    text-align: center;
    letter-spacing: 0px;
    font-size: 18px;
    line-height: 120%;
    margin-top: 2px;
    margin-left: 2px;
}

.footer li {
    list-style: none;
}

.footer img {
    width: 48px;
}

.soccio ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 240px;
}