/* место для вашего кода */
body {
    font-size: 20px;
}

header {
    font-size: 18px;
}

h2 {
    font-size: 39px;
    text-transform: uppercase;
    font-weight: 900;
}

.upHeader {
    padding: 95px 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listMenu {
    column-gap:33px;
    display: flex;
    justify-content: space-between;
}

li {
    list-style-type: none;
}

nav li {
    list-style-type: circle;
    text-decoration: none;
}

li:first-child {
    list-style-type: none;
}

li a.linkActive {
    text-decoration: none;
}

.logo {
    margin-left: -150px;/*при рекомендованных значениях картинка по центру не становиться*/
    width: 135px;
    background-position: center;
    background-size: cover;
    margin-top: -3px;
}

address {
    max-width: 205px;
    margin-right: 33px;
    line-height: 1.3;
    font-style: normal;
}

address a {
    text-decoration: underline;
}

.buttHeader {
    background-image: url(../images/cover.jpg);
    background-color: rgba(0 0 0 / 0.6);
    background-blend-mode:darken;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1100px;
    min-height: 757px;
    color: #fff;
    text-transform: uppercase;
}

.nameSite {
    font-size: 95px;
    font-weight: bold;
    letter-spacing: 40px;
    line-height: 1.35;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    padding: 100px 55px;
}

.nameSite span:first-child {
    margin-top: 60px;
}

.nameSiteCenter {
    text-align: center;
}

.nameSiteRight {
    text-align: right;
    margin-right: -40px;
    margin-top: -10px;
}

.butBut {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 55px;
    word-spacing: 18px;
}

.butBut p {
    margin-left: 65px;
}

.butBut button {
    background: none;
    border: #fff solid 1px;
    padding: 10px;
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    width: 255px;
    margin-right: 38px;
}

.lots {
    margin-top: 180px;
}

.lots h2 {
    margin-left: 64px;
    margin-top: -2px;
    letter-spacing: 1px;
}

.lotsItem {
    display: flex;
    flex-wrap: wrap;
    gap:25px;
    justify-content: space-between;
    margin-left: 25px;
    margin-top: 25px;
    max-width: 1050px;
}
.lotsItem a {
    text-decoration: none;
}
.lotsItem article {
    width: 333px;
    min-height: 563px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0 0 0 / 0.6);
    background-blend-mode:darken;
    padding: 39px;
    padding-top: 53px;
    padding-bottom: 48px;
}

.aboutFilm {
    background-image: url(../images/card-lot-01.jpg);
}

.aboutBook {
    background-image: url(../images/card-lot-02.jpg);
}

.aboutImg {
    background-image: url(../images/card-lot-03.jpg);
}

.lotsItem h3 {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    color: #fff;
    letter-spacing: .03em;
    line-height: 125%;
}

.lotsItem p {
    color: #fff;
}

.more {
    margin-left: 64px;
    margin-top: 32px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 180px;
    padding-right: 23px;
}

.about .logo {
    background: #000;
    width: 240px;
    height: 240px;
    border-radius: 120px;
    margin-left: 70px;
}

.about img {
    width: 147px;
    margin: 68px 47px;
}

.aboutText h2 {
    padding-top: 103px;
    padding-bottom: 100px;
    letter-spacing: 0.03em;
}

.aboutText p {
    padding: 2px 0;
    line-height:1.2;
    letter-spacing: .003em;
}

.aboutText .minSpace {
    letter-spacing: .001em;
    margin-top: 19px;
}

.aboutText {
    max-width: 693px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 177px 50px 90px;
}

.footer address {
    letter-spacing: -1px;
    line-height: 125%;
}

.footer nav {
    text-align: center;
    letter-spacing: 0px;
    font-size: 18px;
    line-height: 120%;
    margin-top: 2px;
    margin-left: 2px;
}

.footer li {
    list-style: none;
}

.footer img {
    width: 48px;
}

.soccio {
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    gap: 48px;
}